@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Lobster&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
*{
    margin: 0;
}


.vid{
    overflow: hidden;
    width: 100%;
    height: auto;
    position: fixed;
    z-index: -1;
    
}

video{
  width: 100%; 
}

.nos_recette{
    width: 40%;
}

.nos_recette a {
    font-family: "Cinzel", serif;
}

.contenaire{
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.048);
    display: flex;
    align-items: center;
    object-fit: cover;
    object-position: center;
}

.contenaire a{
    font-size: 35px;
    text-decoration: none;
    color: rgb(18, 40, 59);
   
}

.d_recette{
    width: 100%;
    display: flex;
    justify-content: right;
}

.recette_sallée a{
    padding-right: 50px;
    font-family: "Sofia", cursive;
    
}

.recette_sucrée{
    padding-right: 50px;
    font-family: "Sofia", cursive;
}

.nos_recette a{
    padding-left: 50px;
}

.message{
    width: 100%;
    height: 86vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message p{
    font-size: 70px;
    color: white;
    padding-bottom: 150px;
    font-family: "Urbanist", sans-serif;
}


body {
    color: white;
}

/* HERO */
.hero {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.hero video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.55);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.overlay h1 {
    font-size: 3rem;
    letter-spacing: 2px;
}

.overlay p {
    margin-bottom: 40px;
    opacity: 0.9;
}

/* CARD */
.recipe-card {
    display: flex;
    background: rgba(255,255,255,0.12);
    backdrop-filter: blur(10px);
    border-radius: 16px;
    overflow: hidden;
    max-width: 500px;
    text-decoration: none;
    color: white;
    transition: transforem 0.4s, box-shadow 0.4s;
}

.recipe-card:hover{
    transform: scale(1.05);
    box-shadow: 0 25px 50px rgba(0,0,0,0.4);
}
.recipe-card img {
    width: 180px;
    object-fit: cover;
}

.card-text {
    padding: 20px;
    text-align: left;
}

.card-text span {
    display: inline-block;
    margin-top: 10px;
    opacity: 0.8;
}
